@model Komodo.Ui.Models.Commodity.CommodityGroup

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>
<h1>View CommodityGroup Details</h1>
<div>
  Commodity Group Id : @Model.CommodityGroupId
</div>
<div>
  Commodity Group Code : @Model.CommodityGroupCode
</div>
<div>
  Commodity Group Description : @Model.CommodityGroupDescription
</div>
</body>
</html>