@model Komodo.Ui.Models.Commodity.CommodityGroup

@{
  ViewBag.Title = "Commodity Group Details";
}

<div>
  Commodity Group Id : @Model.CommodityGroupId
</div>
<div>
  Commodity Group Code : @Model.CommodityGroupCode
</div>
<div>
  Commodity Group Description : @Model.CommodityGroupDescription
</div>
