@model Komodo.Ui.Models.Commodity.CommodityGroup

@{
  ViewBag.Title = "Commodity Group Save";
}

<form asp-controller="CommodityGroup" asp-action="Create" method="post" class="mt-3">
  <div class="form-group row">
    <label asp-for="CommodityGroupCode" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="CommodityGroupCode" class="form-control" placeholder="Code"/>
      <span asp-for="CommodityGroupCode" class="text-danger"></span>
    </div>
  </div>
  <div class="form-group row">
    <label asp-for="CommodityGroupDescription" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="CommodityGroupDescription" class="form-control" placeholder="Description"/>
      <span asp-for="CommodityGroupDescription" class="text-danger"></span>
    </div>
  </div>
  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="form-group row">
    <button type="submit" class="btn-primary">Save</button>
  </div>
</form>