@model Komodo.Ui.Models.Commodity.Commodity

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>
  <h1>View Commodity Details</h1>
  <div>
    Commodity Id : @Model.CommodityId
  </div>
  <div>
    Commodity Code : @Model.CommodityCode
  </div>
  <div>
    Commodity Description : @Model.CommodityDescription
  </div>
  <div>
    Commodity Group : @Model.CommodityGroupId
  </div>
</body>
</html>