@model Komodo.Ui.Models.Commodity.Commodity

@{
  ViewBag.Title = "Commodity Details";
}

<div>
  Commodity Id : @Model.CommodityId
</div>
<div>
  Commodity Code : @Model.CommodityCode
</div>
<div>
  Commodity Description : @Model.CommodityDescription
</div>
<div>
  Commodity Group : @Model.CommodityGroupId
</div>