@model Komodo.Ui.ViewModels.CommoditySaveViewModel

@{
  ViewBag.Title = "Commodity Save";
}

<form asp-controller="Commodity" asp-action="Create" method="post">
  <div>
    <label asp-for="Commodity.CommodityCode"></label>
    <input asp-for="Commodity.CommodityCode"/>
  </div>
  <div>
    <label asp-for="Commodity.CommodityDescription"></label>
    <input asp-for="Commodity.CommodityDescription"/>
  </div>
  <div>
    <label asp-for="Commodity.CommodityGroupId"></label>
    <input asp-for="Commodity.CommodityGroupId"/>
  </div>
  <div >
    <button type="submit">Save</button>
  </div>
</form>